body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow: hidden;
}

/* Transitions */
.hide-smooth, .hide {
    opacity: 0;
}

.show-smooth, .show {
    opacity: 1;
}

.hide-smooth, .show-smooth {
    transition: opacity .5s ease-in;
}

.hide-smooth {
    position: absolute;
    bottom: 40px;
    right: 60px;
    animation: slideOut 0.8s forwards;
}

.show-smooth {
    position: absolute;
    bottom: 40px;
    animation: slideIn 0.5s forwards;
    right: -400px;
}

@keyframes slideIn {
    100% { right: 60px; }
}

@keyframes slideOut {
    100% { right: -200px; }
}

.chat-button a {
    background-color: #222;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 50%;
}

.chat-button a:hover {
    text-decoration: underline;
}

.chat-button {
    position: fixed;
    right: 60px;
    bottom: 40px;
}

.message-container,
.messages,
.messages-content {
    width: 300px;
}

.message-container {
    /* border: 1px solid red;     */
    height: 500px;
}

.overflow {
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px rgb(128, 128, 128);
            box-shadow: 0 0 10px rgb(128, 128, 128);
}

.messages {    
    background-color: White;
}

.messages-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(-45deg, #34A8FA, #6060FF);
}

.messages-header p {
    margin-left: 1em;
    font-size: 24px;
}

.messages-header a {
    margin-right: 1em;
    color: inherit;
    text-decoration: none;
}

.messages-content {
    height: 380px; 
    overflow: auto;
}

.message {
    width: 80%;
    border-radius: 5px;
    margin: 5px;
    padding: .2em;
}

.message-bot, .loading {
    float: left;
    text-align: center;
    background-color: #F0F2F7;
    color: #222;
    border-radius: 5px 20px 5px;
}

.message-user {
    float: right;
    text-align: center;
    background-color: #6060FF;
    border-radius: 20px 5px 20px;

}

.user-input {
    border-top: 1px solid rgb(128, 128, 128);
    height: 60px;
    padding: .3em;
    background-color: #fff;
}

input[type="text"] {
    height: 30px;
    margin: 4px;
    width: 220px;
    background-color: white;
    border-radius: 5px;
    outline: none;
    color: #222;
    border: none;
}

input[type="text"]::placeholder {
    color: inherit;
}

input[type="text"]:focus {

}

button[type="submit"] {
    color: #222;
    font: inherit;
    transition: color .1s ease-in;
}

button[type="submit"]:hover {
    cursor: pointer;
    color: #c0c0c0;
}

button[type="submit"]:focus {
    cursor: pointer;
    color: #5956f7;
    outline: none;
}
 
/* Scrollbar styling */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0c0c0; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #a1a1a1; 
}



